<div class="page-header">
  <h1>YazBel Projesi</h1>
</div>

<p>YazBel yazılım belgelendirme projesine hoşgeldiniz!</p>

<p>
  Burada çeşitli programlama dilleri, çatılar(frameworks), kütüphaneler, teknolojiler ve araçlar ile ilgili belgelere
  ulaşabilir, forumda sorularınızı sorabilirsiniz.
</p>

<a class="btn btn-primary" href="https://forum.yazbel.com">Forum</a>
<a class="btn btn-primary" href="https://belgeler.yazbel.com">Belgeler</a>
